name: CI

on:
  push:
    branches:
      - "**"
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Fmt & Clippy (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: cargo fmt
        run: cargo fmt --all -- --check
      - name: cargo clippy
        run: cargo clippy --locked --all-features -- -D warnings
